.custom-button {
  min-width: 175px;
  width: auto;
  height: 50px;
  letter-spacing: 0.1px;
  line-height: 50px;
  padding: 0 20px;
  font-size: 15px;
  background-color: black;
  color: white;
  text-transform: uppercase;
  // font-family: 'Open Sans Condensed';
  font-weight: bolder;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;

  @media screen and (max-width: 800px) {
    font-size: 12px;
    padding: 0 5px;
    margin: 5px;
  }

  &:hover {
    background-color: white;
    color: black;
    border: 1px solid black;
  }

  &.google-sign-in {
    background-color: #4285F4;
    color: white;

    &:hover {
      background-color: #0162fd;
      border: none;
    }
  }

  &.inverted {
    background-color: white;
    color: black;
    border: none;

    &:hover {
      background-color:black;
      color: white;
      border: none;
    }
  }
}
